main {
    background-image: url(https://images.unsplash.com/photo-1604362112657-f8dd5962622c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNsb3RofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
